// Config stylesheet

// Media Query ranges

$mq_min_large_desktop: 1600px;
$mq_min_small_desktop: 1100px;
$mq_min_large_tablet: 980px;
$mq_min_medium_tablet: 768px;
$mq_min_small_tablet: 630px;
$mq_min_large_phone: 520px;
$mq_min_small_phone: 375px;

$mq_max_large_tablet: $mq_min_small_desktop - 1;
$mq_max_medium_tablet: $mq_min_large_tablet - 1;
$mq_max_small_tablet: $mq_min_medium_tablet - 1;
$mq_max_large_phone: $mq_min_small_tablet - 1;
$mq_max_small_phone: $mq_min_large_phone - 1;
$mq_max_smallest_phone: $mq_min_small_phone - 1;


// Colors

$color_1: #223c3f;
$color_1_b: #5e9197;
$color_2: #e2764e;
$color_3: #d43923;
$color_3_b: #e6b7b0;

$color_4: #417280;
$color_5: #68b8cb;

$color_6: #f4e9ce; //Custom

$color_7: #ededed;

$color_8: #6ecb44;

$negative_color: #ffffff;

$background_color: $color_1;


$section_header_home_minheight: 210px;
$section_header_navigation_width: 620px;

$unit_item_width: 217px;
$unit_item_height: 294px;
$unit_item_number_space: 12px;

$space_1: 20px;
$space_2: 30px;
$space_3: 50px;


$layout_max: 980px + $space_1*2;
$layout_max_2: 1200px + $space_1*2;
$layout_max_3: $layout_max_2 + 200px;


$blink_header_height_base : 44px;
$blink_header_margin_bottom : 20px;
$blink_header_height : $blink_header_height_base + $blink_header_margin_bottom;
